<h3>Admin Dashboard</h3>
<br>
<h3>Enter user email to get user:</h3>
<form id="userForm">
    <input type="text" name="email" id="email" placeholder="Email">
    <input type="submit" value="GET USER" />
</form>
<div id="user-container"></div>

<script src="/js/admin.js"></script>