<a href=""></a>
<h2>Shopping Cart</h2>
<section class="products">
    <ul id="cart-products-container"></ul>
</section>

<button disabled id="comprar-button">Comprar</button>
<p id="message-container"></p>

<section>
    <div id="ticket-container">
    </div>
</section>

<script src="/js/cart.js"></script>