<div class="login-container">
    <h2>Recupera tu contraseña</h2>
    <p>Email: {{email}}</p>
    <form action="/api/password/change/{{id}}/{{token}}" method="post">
        <label for="password">Introduce tu nueva contraseña:</label>
        <input type="password" id="password" name="password" required>
        <input type="submit" value="submit">
    </form>
    <p class="hidden">La contraseña no puede ser igual a la anterior!</p>
</div>

{{!--
<script src="/js/login.js"></script> --}}