<div class="login-container">
    <h2>Recupera tu contraseña</h2>
    <h5>Ingresa tu email y te enviaremos un link para recuperar tu contraseña</h5>
    <form action="/api/password/forgot" method="post">
        <input type="email" id="email" name="email" required>
        <input type="submit" value="submit">
    </form>
</div>

{{!--
<script src="/js/login.js"></script> --}}