<h2>Home</h2>
<h2>Bienvenido {{first_name}}</h2>
<h4>Tu email es: {{email}}</h4>
<h4>Tu rol es: {{role}}</h4>
<button><a id="sign-out-btn">SIGN OUT</a></button>
<section class="products">
    <ul id="products-container">

    </ul>
    <button id="prev-page-btn">prev</button>
    <span id="page-number-span"></span>
    <button id="next-page-btn">next</button>
</section>

<script src="/js/home.js"></script>