<section class="products">
    <button><a id="sign-out-btn">SIGN OUT</a></button>
    <div>
        <h2>Nuestros servicios</h2>
        {{!-- <img src="https://res.cloudinary.com/db77ijux8/image/upload/v1732824032/iixy9u4ky8iydu0thpry.png" alt="">
        --}}
    </div>
    <ul id="products-container">

    </ul>

</section>

<script src="/js/home.js"></script>