<div class="detailed_product_container">

    <img src={{img}} alt="">

    <div class="product_info">
        <h2>{{descripcion}}</h2>
        <h5>Precio: ${{precio}}</h5>
        <input type="date" name="date" aria-label="Date">
        <input type="time" name="time" aria-label="Time">
        <button class="reservarBtn" data-id={{id}}>Reservar</button>
    </div>
</div>

<script src="/js/servicio.js"></script>