<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars</title>
    <link rel="stylesheet" href="https://unpkg.com/boltcss/bolt.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <h1>Tienda Ecommerce</h1>
    <ul style="display: flex; column-gap: 20px; list-style-type: none;">
        <li><a href="http://localhost:8080/home">Home</a></li>
        <li><a href="http://localhost:8080/cart">Cart</a></li>
        <li><a href="http://localhost:8080/profile">Profile</a></li>
        <li><a href="http://localhost:8080/login">Login</a></li>
    </ul>
    {{{body}}}
</body>

</html>